.App {
  text-align: center;

}

#globe, #globepoints{
   position:absolute;
   top:0;
   left:0;
   width: 100vw;
   height: 100vh;
   z-index: -2;
   overflow: hidden;
}

#globepoints{
   z-index: -1;
   pointer-events: none;
}

.globepoint{
   fill: #B1C63C;
}